{% extends 'usuarios/base.html' %}
{% block conteudo %}
    <div class="container">
        <h1>Cadastro de usuários</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <th>{{usuario.id_usuario}}</th>
                    <th>{{usuario.nome}}</th>
                    <th>{{usuario.idade}}</th>
                    
                </tr>
            {% endfor %}
        </table>


    </div>
{% endblock %}